
/* 
    Created on : Sep 29, 2015, 5:48:50 PM
    Author     : sabre
*/

#box1 {
    color: red;
    text-align: center;
}

#box2 {
    text-align: center;
}

#box3 {
    text-align: center;
}



body {
    
    background-color:#222222;
}

